<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Docker Guide</title>
</head>
<body>
<div class="container">
    <nav class="sidebar">

        <h1 class="sidebar-header">AQLabs</h1>

        <ul class="sidebar-links">
            <li><a href="#">Introduction to Docker</a></li>
            <li><a href="#">Installing Docker</a></li>
            <li><a href="#">Running Your First Container</a></li>
            <li><a href="#">Working with Images</a></li>
            <li><a href="#">Docker Containers vs. Virtual Machines</a></li>
            <li><a href="#">Advanced Container Operations</a></li>
            <li><a href="#">Building Custom Docker Images</a></li>
            <li><a href="#">Docker Compose</a></li>
            <li><a href="#">Networking in Docker</a></li>
            <li><a href="#">Understanding Data Persistence</a></li>
            <li><a href="#">Scaling and Orchestration</a></li>
            <li><a href="#">Best Practices and Tips</a></li>
            <li><a href="#">Troubleshooting and Debugging</a></li>
            <li><a href="#">Docker Registry and Image Management</a></li>
            <li><a href="#">Docker Ecosystem</a></li>
        </ul>
    </nav>
    <main class="content">


    </main>
</div>
</body>
</html>