<!DOCTYPE HTML>
<html>
	<head>
		<title>Aqlabs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./css/main.css" />
		<noscript><link rel="stylesheet" href="./css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Aqlabs Creator</a></li>
							<li><a href="#two">Explore</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>AQLabs</h1>
							<p>Just another fine coding website that offers tutorials on Python Development, Java Development, <br>
								Linux with Raspberry Pi, and Docker Guides.</p>
							<ul class="actions">
								<li><a href="#three" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="https://media.licdn.com/dms/image/D5603AQGKDNsR7P4mpw/profile-displayphoto-shrink_800_800/0/1694789053133?e=1701302400&v=beta&t=XmazcWKQNE3ZFY0IP5jXyfbCqu9WTFcEoLW19bTmIJc" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>The Aqlabs Creator</h2>
									<p>My name is <b>Luis Castaneda</b> I am a Jr. Python and Java Developer, I have been coding in Python & Java for about a year.
									I learned Python on Coursera with 2 Python courses called 'Google's: Automation with Python' & 'IBM's: Python for AI, Machine learning and development' and I also
									hold a Google's IT Support Specialist Certification which taught me the basis of Hardware, Operating System, Commandline, Cybersecurity, and Disaster planning and recovery.
									I learned Java through Merit America's Java Development Boot Camp, which was an intense 7-month course on Java, Agile, Git, SQL, Data Sturctures, AWS, and
									algorithms and I also have a host of other certifications in Software development.</p>
									<p>See my GitHub or Connect with me on Linked-In!</p>
									<ul class="actions">
										<li><a href="https://www.linkedin.com/in/luis-a-castaneda/" class="button">Linked-In</a></li>
										<li><a href="https://github.com/lcastaa" class="button">GitHub</a></li>
										<li><a href="/resume" class="button">My Resume</a></li>
										<li><a href="/projects" class="button">Project Demos</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Explore</h2>
							<p>Aqlabs was built to serve as an index of all the projects, guides, and notes the developer has made reguarding the topics</p>
							<p>Alot of the topic are abstracted to rejolt the memory of the developer or make it easy for a new developer to learn a technology</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Java Guides</h3>
									<p>Learn Java Basics & Syntax</p>
									<ul class="actions">
										<li><a href="/underconstruction" class="button">Learn Java!</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Python Guides</h3>
									<p>Learn Python Basics & Syntax</p>
									<ul class="actions">
										<li><a href="/underconstruction" class="button">Learn Python!</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Linux With Raspberry Pi</h3>
									<p>Learn how to use Linux & Raspberry Pi's</p>
									<ul class="actions">
										<li><a href="/underconstruction" class="button">Learn Linux & Raspberry Pi!</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Docker Guides</h3>
									<p>Learn what is Docker and how to use, create and manage containers</p>
									<ul class="actions">
										<li><a href="/underconstruction" class="button">Explore Docker!</a></li>
									</ul>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Want to collaborate in a project, or have a request for a new tutorial, or have any questions please do not hesitate to reach out!</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="#">lcastaa.aql@gmail.com</a>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://github.com/lcastaa" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.linkedin.com/in/luis-a-castaneda/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; AQLabs 2023. All rights reserved.</li><li>Design: Luis Castaneda</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.scrollex.min.js"></script>
			<script src="./js/jquery.scrolly.min.js"></script>
			<script src="./js/browser.min.js"></script>
			<script src="./js/breakpoints.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>