<!DOCTYPE HTML>
<html>
	<head>
		<title>Aqlabs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
		<noscript><link rel="stylesheet" href="./css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Explore</a></li>
							<li><a href="#two">Get in touch</a></li>
							<li><a href="#three">Aqlabs Creator</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>AQLabs</h1>
							<p>Just another fine coding website that offers tutorials on Python Development, Java Development, <br>
								Linux with Raspberry Pi, and Docker Guides.</p>
							<ul class="actions">
								<li><a href="#three" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->

				<!-- Two -->
				<section id="one" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>Explore</h2>
						<p>Aqlabs was built to serve as an index of all the projects, guides, and notes the developer has made reguarding the topics</p>
						<p>Alot of the topic are abstracted to rejolt the memory of the developer or make it easy for a new developer to learn a technology</p>
						<div class="features">
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Java Guides</h3>
								<p>Learn Java Basics & Syntax</p>
								<ul class="actions">
										<li><a href="/underconstruction" class="button">Learn Java!</a></li>
									</ul>
							</section>
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Python Guides</h3>
								<p>Learn Python Basics & Syntax</p>
								<ul class="actions">
										<li><a href="/underconstruction" class="button">Learn Python!</a></li>
									</ul>
							</section>
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Linux With Raspberry Pi</h3>
								<p>Learn how to use Linux & Raspberry Pi's</p>
								<ul class="actions">
										<li><a href="/underconstruction" class="button">Learn Linux & Raspberry Pi!</a></li>
									</ul>
							</section>
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Docker Guides</h3>
								<p>Learn what is Docker and how to use, create and manage containers</p>
								<ul class="actions">
										<li><a href="/underconstruction" class="button">Explore Docker!</a></li>
									</ul>
							</section>
						</div>
					</div>
				</section>

				<!-- Three -->
				<section id="two" class="wrapper style1 fade-up">
					<div class="inner">
						<h2>Get in touch</h2>
						<p>Want to collaborate in a project, or have a request for a new tutorial, or have any questions please do not hesitate to reach out!</p>
						<div class="split style1">
							<section>
								<form id="myForm">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
									</div>
									<button class="button submit" id="contact-form-button">Send Message</button>
								</form>
								<div id="message-container"></div>
							</section>
							<section>
								<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="#">lcastaa.aql@gmail.com</a>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://github.com/lcastaa" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.linkedin.com/in/luis-a-castaneda/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
							</section>
						</div>
					</div>
				</section>

				<!-- three -->
				<section id="three" class="wrapper style2 spotlights">
					<section>
						<a href="#" class="image"><img src="./" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>About</h2>
								<p>My name is <b>Luis Castaneda</b>, and I'm a <b>Jr. Java and Python Developer</b>. My journey into the world of software development began about a year ago, and I'm proud to be a non-traditional learner. Unlike others,
									I didn't pursue a traditional four-year university education to learn how to code. My passion for technology sparked when I first delved into the inner workings of the terminal. It all started with my completion
									of <a href="https://coursera.org/share/ba0e69dcf9b009f8a558f071de8be0e9"><b>Google's IT Support Specialist Program</b></a>, which was expected to take six months, but I managed to conquer it in just two, & in this I learned all the basics.
									During this transformative program, I was introduced to the power of Bash scripting, and that experience sparked more curiosity about programming. Soon, I found myself diving headfirst into my first general-purpose
									programming language: Python. I went on this Python journey through two enlightening courses on Coursera. The first course, <a href="https://coursera.org/share/fadf1fffcac9bb2c91012aae4e8b54f2"><b>"Crash Course on Python"</b></a>, was skillfully taught by experts from Google. The second, <a href="https://coursera.org/share/f2f6fd4ec2dd0f7d7bae5f208d0b2fe8"><b>"Python for Data Science, AI & Development,"</b></a>
									was an eye-opening experience guided by instructors from IBM. Although the concepts were challenging to grasp, I kept going and successfully completed these courses.
									Fast-forward a few more months later, and I decided to expand my skills by enrolling in the <a href="https://certopus.com/c/1bbecc70fe5c4940a89caa7994daaee7"><b>Java Development Program</b></a> offered by <a href="https://meritamerica.org/career-tracks/java-development/?utm_source=google&utm_medium=cpc&utm_campaign=Search_NB_IT_Gamma_National&utm_term=it%20course&gclid=CjwKCAjw-KipBhBtEiwAWjgwrEFJPE77KHB6zUxgq6c2ucTU_FRzzkjyrkjM-yHwOoGK7S6gdyNtSBoCUogQAvD_BwE"><b>Merit America</b></a>. This intensive 6-month course provided me with a deeper understanding of software development, & by the end of it, everything became much clearer.
									My journey in the world of technology and software development has been rewarding, fun, dynamic, & I'm excited to continue growing & learning in this ever-evolving field. My goal is to become a DevOps Engineer!</p>
								<p>See my GitHub or Connect with me on Linked-In!</p>
								<ul class="actions">
									<li><a href="https://www.linkedin.com/in/luis-a-castaneda/" class="button">Linked-In</a></li>
									<li><a href="https://github.com/lcastaa" class="button">GitHub</a></li>
									<li><a href="/resume" class="button">My Resume</a></li>
									<li><a href="/projects" class="button">Project Demos</a></li>
								</ul>
							</div>
						</div>
					</section>
				</section>

			</div>

		<!-- Footer -->
		<footer id="footer" class="wrapper style1-alt">
			<div class="inner">
				<ul class="menu">
						<li>&copy; AQLabs 2023. All rights reserved.</li><li>Design: Luis Castaneda</li>
					</ul>
			</div>
			</footer>

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.scrollex.min.js"></script>
			<script src="./js/jquery.scrolly.min.js"></script>
			<script src="./js/browser.min.js"></script>
			<script src="./js/breakpoints.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>
			<script src="./js/form.processor.js"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


	</body>
</html>