<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Dark Style Web Page</title>
</head>
<body>
<div class="container">
    <nav class="sidebar">

        <h1 class="sidebar-header">AQLabs</h1>

        <ul class="sidebar-links">
            <li><a href="/java">Java SE 8 Developer Prep</a></li>
            <li><a href="/linux">Linux with Raspberry Pi</a></li>
            <li><a href="/docker">Docker Guides</a></li>
            <li><a href="/resume">Resume & Projects</a></li>

        </ul>
    </nav>
    <main class="content">


    </main>
</div>
</body>
</html>
