<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Java SE 8 Prep</title>
</head>
<body>
<div class="container">
    <nav class="sidebar">

        <h1 class="sidebar-header">AQLabs</h1>

        <ul class="sidebar-links">
            <li><a href="#">Java Building Blocks</a></li>
            <li><a href="#">Operators & Statements</a></li>
            <li><a href="#">Core Java APIs</a></li>
            <li><a href="#">Methods & Encapsulation</a></li>
            <li><a href="#">Class Design</a></li>
            <li><a href="#">Exceptions</a></li>
            <li><a href="#">Study Tips</a></li>

        </ul>
    </nav>
    <main class="content">


    </main>
</div>
</body>
</html>