<!DOCTYPE HTML>
<html>
	<head>
		<title>Projects - Luis C</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./css/main.css" />
		<noscript><link rel="stylesheet" href="./css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">AQLabs</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects" class="active">Projects</a></li>
						<li><a href="https://github.com/lcastaa?tab=repositories">Github Repos</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Portfoilo Projects</h1>
							<p>I have created these apps with the idea of learning the inner working how applications behave and have a low-level understanding of their processes. As well as exploring the technologies used in them.</p>
							<p>You can interact with the current versions of these applications that are found in my GitHub repository.</p>
						</div>
					</section>
					<section id="theCookBookApp" class="wrapper">
						<div class="inner">
							<h3 class="major">The CookBook App </h3>
							<h4 class="major">Recipe & Cook Book Application </h4>
							<p>Get AI recomended recipes based on your available ingredients and ethinicity, have the option to save, view, edit recipes.</p>
							<ul class="actions">
								<li><a href="/underconstruction" class="button">Try out App</a></li>
							</ul>
						</div>
					</section>
					<section id="aqlEmSystem" class="wrapper">
						<div class="inner">
							<h3 class="major">AqlEm-System</h3>
							<h4 class="major">Employee Management System</h4>
							<p>Easy Solution to employee manangement. This application allows for labor tracking, employee time managament, time punches, hr ticketing system and labor report generator</p>
							<ul class="actions">
								<li><a href="/underconstruction" class="button">Try out App</a></li>
							</ul>
						</div>
					</section>
				</section>
				<section id="moneyTransfer" class="wrapper">
					<div class="inner">
						<h4 class="major">Aql-TEnmo</h4>
						<p>A Peer to peer money transfer application allowing you to pay or request TEbucks from your contacts.</p>
						<ul class="actions">
							<li><a href="/underconstruction" class="button">Try out App</a></li>
						</ul>
					</div>
				</section>
				</section>
				<section id="weatherApp" class="wrapper">
					<div class="inner">
						<h3 class="major">Weather App</h3>
						<h4 class="major"> Forecast & Weather Application</h4>
						<p>Find Weather information anywhere in the United States. To deliver the result we use abstract the response from 2 external apis and return a response containing the basic information.</p>
						<ul class="actions">
							<li><a href="/underconstruction" class="button">Try out App</a></li>
						</ul>
					</div>
				</section>
				</section>
				<section id="vendomatic" class="wrapper">
					<div class="inner">
						<h3 class="major">Vend-o-matic</h3>
						<h4 class="major">Virtual Vending Machine application</h4>
						<p>A Virtual Vending Machine that dispenses virtual candy, food, drinks.</p>
						<ul class="actions">
							<li><a href="/underconstruction" class="button">Try out App</a></li>
						</ul>
					</div>
				</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; AQLabs 2023. All rights reserved.</li><li>Design: Luis Castaneda</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.scrollex.min.js"></script>
			<script src="./js/jquery.scrolly.min.js"></script>
			<script src="./js/browser.min.js"></script>
			<script src="./js/breakpoints.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>