<!DOCTYPE HTML>
<html>
	<head>
		<title>Projects - Luis C</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./css/main.css" />
		<noscript><link rel="stylesheet" href="./css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">AQLabs</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects" class="active">Projects</a></li>
						<li><a href="https://github.com/lcastaa?tab=repositories">GitHub Repos</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Personal Projects</h1>
							<p>I've built these apps with a keen interest in understanding how they function and getting a hands-on feel for their inner workings. I've also enjoyed exploring the technologies behind them.</p>
							<p>If you'd like to check out the latest code & versions of these apps, check out my <a href="https://github.com/lcastaa?tab=repositories">GitHub</a> you can also interact with my projects down below.</p>
						</div>
					</section>
					<section id="theCookBookApp" class="wrapper">
						<div class="inner">
							<h3 class="major">The CookBook App </h3>
							<h4 class="major">Recipe & Cook Book Application </h4>
							<b><h5>Technologies involved:</h5></b></i>
							<img src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
							<img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/JWT-black?style=for-the-badge&logo=JSON%20web%20tokens" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/Amazon_AWS-FF9900?style=for-the-badge&logo=amazonaws&logoColor=white" alt="aws">
							<p>Get AI recommended recipes based on your available ingredients and ethnicity, can save, view, edit recipes.</p>
							<ul class="actions">
								<li><a href="http://54.193.62.239/ui/login" class="button">Try out App</a></li>
							</ul>
						</div>
						<hr>
					</section>
					<section id="aqlEmSystem" class="wrapper">
						<div class="inner">
							<h3 class="major">AqlEm-System</h3>
							<h4 class="major">Employee Management System</h4>
							<b><h5>Technologies involved</h5></b>
							<img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
							<img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
							<img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
							<p>Easy Solution to employee management. This application allows for labor tracking, employee time management, time punches, hr ticketing system and labor report generator</p>
							<ul class="actions">
								<li><a href="/underconstruction" class="button">Try out App</a></li>
							</ul>
						</div>
						<hr>
					</section>
				</section>
				<section id="moneyTransfer" class="wrapper">
					<div class="inner">
						<h4 class="major">Aql-TEnmo</h4>
						<b><h4>Technologies involved</h4></b>
						<img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
						<img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
						<p>A Peer to peer money transfer application allowing you to pay or request TEbucks from your contacts.</p>
						<ul class="actions">
							<li><a href="/underconstruction" class="button">Try out App</a></li>
						</ul>
					</div>
					<hr>
				</section>
				</section>
				<section id="weatherApp" class="wrapper">
					<div class="inner">
						<h3 class="major">Weather App</h3>
						<h4 class="major"> Forecast & Weather Application</h4>
						<b><h4>Technologies involved</h4></b>
						<img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
						<img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
						<p>Find Weather information anywhere in the United States. To deliver the result, we use abstract the response from 2 external apis and return a response containing the basic information.</p>
						<ul class="actions">
							<li><a href="/underconstruction" class="button">Try out App</a></li>
						</ul>
					</div>
					<hr>
				</section>
				</section>
				<section id="vendomatic" class="wrapper">
					<div class="inner">
						<h3 class="major">Vend-o-matic</h3>
						<h4 class="major">Virtual Vending Machine application</h4>
						<b><h4>Technologies involved</h4></b>
						<img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
						<img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
						<img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
						<p>A Virtual Vending Machine that dispenses virtual candy, food, drinks.</p>
						<ul class="actions">
							<li><a href="/underconstruction" class="button">Try out App</a></li>
						</ul>
					</div>
				</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; AQLabs 2023. All rights reserved.</li><li>Design: Luis Castaneda</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.scrollex.min.js"></script>
			<script src="./js/jquery.scrolly.min.js"></script>
			<script src="./js/browser.min.js"></script>
			<script src="./js/breakpoints.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>