
<!DOCTYPE html>
<html>
<head>
    <title>Luis A Castaneda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
</head>
<body class="w3-light-cyan">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1500px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-light-black w3-text-black w3-card-4">
                <div class="w3-display-container">
                    <img src="https://media.licdn.com/dms/image/D5603AQGKDNsR7P4mpw/profile-displayphoto-shrink_800_800/0/1694789053133?e=1701302400&v=beta&t=XmazcWKQNE3ZFY0IP5jXyfbCqu9WTFcEoLW19bTmIJc" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                    </div>
                </div>
                <div class="w3-container">
                    <h2>Luis A Castaneda</h2>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-cyan"></i>IT Support Specialist</p>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-cyan"></i>Java & Python Developer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-cyan"></i>Lancaster, CA</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-cyan"></i><a>lcastaa.aql@gmail.com</a></p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-cyan"></i>(661)-234-0935</p>
                    <p><i class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-cyan"></i> <a href="https://www.aqlabs.xyz"><button>My Website</button></a></p>
                    <p><i class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-cyan"></i> <a href="https://www.linkedin.com/in/luis-a-castaneda/"><button>LinkedIN</button></a></p>
                    <p><i class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-cyan"></i> <a href="https://github.com/lcastaa?tab=repositories"><button>Github</button></a></p>

                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-cyan"></i>Skills</b></p>
                    <p>Java</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Python</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:85%">
                            <div class="w3-center w3-text-light-black">85%</div>
                        </div>
                    </div>
                    <p>Algorithms</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">75%</div>
                    </div>
                    <p>Data Structures</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Spring Boot</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Software Development Cycle</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>SQL</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>JUnit</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Git</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Networking Protocols</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Command-Line Interface</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Linux</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Spring MVC</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Spring JPA</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Spring Security</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>REST APIs</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Docker</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>Jenkins CI/CD</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>
                    <p>PostgreSQL</p>
                    <div class="w3-light-black w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:100%">100%</div>
                    </div>



                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-cyan"></i>Languages</b></p>
                    <p>English</p>
                    <div class="w3-light-black w3-round-xlarge">
                        <div class="w3-round-xlarge w3-center w3-cyan" style="height:24px;width:100%">Fluent/Native</div>
                    </div>
                    <p>Spanish</p>
                    <div class="w3-light-black w3-round-xlarge">
                        <div class="w3-round-xlarge w3-center w3-cyan" style="height:24px;width:100%">Fluent/Native</div>
                    </div>


                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-light-black w3-margin-bottom">
                <h2 class="w3-text-black w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-cyan"></i>Professional Summary</h2>
                <div class="w3-container">
                    <p> Results-driven Java and Python Developer with expertise in Spring, APIs, Docker, Cloud technologies, and Linux. Strong problem-solving skills, team collaboration, and a dedication to delivering high-quality software solutions. Seeking a software developer role to leverage my technical skills and contribute to innovative projects.</p>
                    <hr>
                </div>
            </div>




            <div class="w3-container w3-card w3-light-black w3-margin-bottom">

                <h2 class="w3-text-black w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-cyan"></i>Technical Experience</h2>
                <div class="w3-container">
                    <h3 class="w3-opacity"><b> AQLabs | "Tutorial and Blog Website" </b></h3>
                    <p><b><h4>Technologies involved:</h4></b></i></p>
                    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
                    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
                    <p><b><h4>Project Overview:</h4></b>Designed and implemented a high-performance 3-node system using Raspberry Pis, powered by a customized port of Debian Linux. These nodes were seamlessly clustered using Docker Swarm and efficiently managed through Portainer. The centerpiece of this system is Aqlabs, a robust Spring Boot application, running within a secure Docker environment with SSL encryption to safeguard web traffic. Aqlabs serves as an educational hub, offering comprehensive guides on Raspberry Pi, Linux, Docker, and Java SE 8 development, while also hosting a range of other applications in the same Docker network.</p>
                    <p><b><h4>Project Roles:</h4></b> - Conceptualized and created the website and its educational guides. <br> - Assumed the role of server administrator, ensuring smooth day-to-day operations.<br> - Led the planning and development phases of the project. <br> - Implemented a robust CI/CD pipeline, enabling continuous updates for both projects and the website. <br> - Authored and curated tutorials, enhancing the learning experience for users</p>
                    <p><b>Project Links</b>:</p>
                    <hr>
                </div>




                <div class="w3-container">
                    <h3 class="w3-opacity"><b> TEnmo | "Money Transfer Application" </b></h3>
                    <p><b><h4>Technologies involved:</h4></b></i></p>
                    <img src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
                    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/JWT-black?style=for-the-badge&logo=JSON%20web%20tokens" alt="Postgres Badge">
                    <p><b><h4>Project Overview:</h4></b>Peer-to-peer money transfer application allowing users to send, request, and approve money transfers. Front-end is a command-line application communicating with a RESTful API server in the back end.</p>
                    <p><b><h4>Project Roles:</h4></b> - Orchestrated and led a dynamic team of four developers, employing Agile methodologies for efficient project execution.<br> - Spearheaded the establishment of a robust Jenkins CI/CD Pipeline, ensuring seamless feature releases during the application's development cycle. Employed Docker for streamlined and efficient application deployment.<br> - Collaborated with the team to architect and develop both the server-side and client-side APIs, taking a hands-on approach in crafting essential classes and test cases for enhanced code quality and reliability.</p>
                    <p><b>Project Links</b></p>
                    <hr>
                </div>



                <div class="w3-container">
                    <h3 class="w3-opacity"><b>Forecast App | "Weather Forecast Application"</b></h3>
                    <p><b><h4>Technologies involved</h4></b></p>
                    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
                    <img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
                    <p><b><h4>Project Overview</h4></b>Developed a sophisticated application that seamlessly interfaces with two external APIs: one from the National Weather Service and another from a geocoding service. The application skillfully processes the API responses, extracting and presenting only the pertinent information, thereby streamlining data for improved user accessibility</p>
                    <p><b><h4>Project Roles</h4></b> - Adhered to Agile principles throughout the development journey, ensuring a flexible and iterative approach to application development .<br> - Orchestrated the complete development process, architecting both the robust back-end API and the engaging front-end UI. <br> - Implemented an efficient CI/CD pipeline, meticulously automating development tasks and enabling effortless deployment to a Docker environment. <br> - Solely managed Git for meticulous version control and seamless feature implementation  </p>
                    <p><b><h4>Project Links</h4></b></p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h3 class="w3-opacity"><b>Vend-o-Matic 8000 | "Vending Machine Application"</b></h3>
                    <p><b><h4>Technologies involved</h4></b></p>
                    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
                    <img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
                    <p><b><h4>Project Overview</h4></b>Developed a virtual vending machine application with a team of 4 developers, featuring a command-line interface, and a front-end UI enabling users to effortlessly deposit funds, select products, and receive precise change calculations. The application loads its inventory from a text file and meticulously logs transactions for future reference.</p>
                    <p><b><h4>Project Roles</h4></b> - Pioneered the project by conceiving the Minimum Viable Product (MVP) and executed progressive enhancements. <br> - Spearheaded the development of the purchasing functionality, expertly integrating currency handling, and introducing a vibrant text color scheme to elevate user experience.<br> - Collaborated closely on unit testing initiatives and contributed significantly to the streamlined inventory loading process.</p>
                    <p><b><h4>Project Links</h4></b></p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h3 class="w3-opacity"><b> The CookBook App | "Recipe / Cookbook Application" </b></h3>
                    <p><b><h4>Technologies involved:</h4></b></i></p>
                    <img src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white">
                    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white">
                    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white">
                    <img src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white">
                    <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white">
                    <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white">
                    <img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white">
                    <img src="https://img.shields.io/badge/JWT-black?style=for-the-badge&logo=JSON%20web%20tokens">
                    <img src="https://img.shields.io/badge/chatGPT-74aa9c?style=for-the-badge&logo=openai&logoColor=white">
                    <p><b><h4>Project Overview:</h4></b>Developed "The Cookbook App," a sophisticated recipe and cookbook application tailored to house a wide array of culinary recipes. The application incorporates advanced features, including a recipe recommendation system powered by OpenAI's API, which intelligently suggests recipes based on available ingredients and chosen ethnicity.</p>
                    <p><b><h4>Project Roles:</h4></b> -Sole developer responsible for both front-end and back-end development. <br> - Integrated OpenAI's API to enhance application functionality .<br> - Followed Agile methodology for project development. <br> - Implemented Jenkins CI/CD pipeline for streamlined development. <br> - Deployed the application to the AQL network and showcased it on my website</p>
                    <p><b>Project Links</b>:</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h3 class="w3-opacity"><b>AqlEM System | "Employee Management System"</b></h3>
                    <p><b><h4>Technologies involved</h4></b></p>
                    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge">
                    <img src="https://img.shields.io/badge/Thymeleaf-%23005C0F.svg?style=for-the-badge&logo=Thymeleaf&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Postgres Badge">
                    <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Postgres Badge">
                    <p><b><h4>Project Overview</h4></b>AqlEM is an application that empowers employees to efficiently manage their time, record work punches, and submit HR tickets. It also provides visibility into their earnings, with insights into the company's pay rate structure. Beyond these core features, AqlEM boasts distinct user roles, including Employee, Manager, and HR, each tailored to their unique responsibilities. Additional features include a Labor Tracker and an Employee Message Board, fostering collaboration and addressing employee concerns, including workspace management ideas and event suggestions.</p>
                    <p><b><h4>Project Roles</h4></b> - Assumed full responsibility as the sole developer, conceiving and executing the entire project.<br> -  Meticulously structured the application using the Model-View-Controller (MVC) design pattern, ensuring a modular and maintainable codebase. <br> - Established and seamlessly maintained a Continuous Integration and Continuous Deployment (CI/CD) pipeline, enabling frequent updates and enhancements. The application was deployed within the AQL Docker Network, making it accessible via my website. <br> - I designed and implemented the application's database using JPA/Hibernate, ensuring efficient data storage and retrieval for all users.</p>
                    <p><b><h4>Project Links</h4></b></p>
                    <hr>
                </div>



            </div>


            <div class="w3-container w3-card w3-light-black w3-margin-bottom">
                <h2 class="w3-text-black w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-cyan"></i>Work Experience</h2>
                <div class="w3-container">
                    <h4 class="w3-opacity"><b>Sortation Assosciate | Amazon Logistics DAX8 | Palmdale, CA </b></h4>
                    <h6 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>October 12, 2021 - <span class="w3-tag w3-cyan w3-round">Current</span></b></h6>
                    <p> - Focused on safety to minimize work injuries, product loss prevention to ensure customer satisfaction and assisted management in daily operations.<br>
                        - Stow rate is 230 PPH (Packages per hour), personal rate exceeds 620 PPH. Currently holds the record for most packages stowed in a day</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h4 class="w3-opacity"><b>Learning Ambassador | Amazon Fulfillment ONT6 & Amazon Logistics DAX8 | Moreno Valley, CA & Palmdale, CA </b></h4>
                    <h6 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>July 2020 - Feb 2021</b></h6>
                    <p> - Trained new hires and seasonals during “Peak Season”. Went through an orientation that includes in-class instruction as well as hands-on work. Also, taught how to use peripheral devices such as ring scanners, handheld computers, as well as work safety procedures to minimize work injuries. Coached over 15 associates.</p><br>
                </div>
                <div class="w3-container">
                    <h4 class="w3-opacity"><b>Server | El Toreo Inc. | Palmdale, CA</b></h4>
                    <h6 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>September 2016 - March 2020</b></h6>
                    <p> - Ensured customer satisfaction by providing clients with all the essential services to ensure a great experience. Positive feedback was 4.5 stars from patrons and would also assist management in day-to-day operations such as clean-up, inventory management, product receiving, customer issue de-escalation, and end-of-day reports.<br>
                        - Made restaurant win the Antelope Valley's best Mexican restaurant award in 2020 which awards restaurants based on quality and service.</p>
                    <hr>
                </div>
            </div>

            <div class="w3-container w3-card w3-light-black w3-margin-bottom">
                <h2 class="w3-text-black w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-cyan"></i>Refrences</h2>
                <p><b>Brajohn Hicks</b>  | <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7f1d0d1e15101711173f1e121e051011511c1012">[email&#160;protected]</a> | RTS Manager I<br>
                <p><b>Janna Moerman</b>  | <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bfd5d2d0dacdd2ded1ffded2dec5d0d191dcd0d2">[email&#160;protected]</a> | RTS Manager I<br>
                <p><b>Denise Barajas</b> | <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c1a5a6ada4a6a0b2b2ae81a0aca0bbaeafefa2aeac">[email&#160;protected]</a> | Former DAX8 Learning Coordinator<br>
                <p><b>Angie Parsakhian</b> | parsakhi@amazon.com | OPS Area Manager II<hr>
            </div>



            <div class="w3-container w3-card w3-light-black w3-margin-bottom">
                <h2 class="w3-text-black w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-cyan"></i>Education</h2>
                <div class="w3-container">
                    <h4 class="w3-opacity"><b>Merit America | Java Backend Development</b></h4>
                    <h4 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2022 - March 2023</h4>
                    <p>A 21-week intensive program focused on Backend Java Development, including hands-on coursework in Java Development and Client-Server Programming (SQL, Spring, JPA, REST) as well as covering topics such as Data Structures, Algorithms, Design Patterns, Cloud / Microservice deployments, and DevOps (e.g. CI/CD)</p>
                </div>



                <div class="w3-container">
                    <h4 class="w3-opacity"><b>Antelope Valley Adult School | High School Diploma</b></h4>
                    <h4 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2022 - Sept 2023</h4>
                    <p>Completed necessary credits to graduate and earn my high school diploma.</p>
                </div>

                <div class="w3-container">
                    <h4 class="w3-opacity"><b>Coursera | Google IT Support Specialist Professional</b></h4>
                    <h4 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2021 - Jun 2021</h4>
                    <p>Completed the Google IT Support Specialist Certification program, gaining expertise in hardware, software troubleshooting, networking, and customer service. Certified by Google, demonstrating proficiency in IT support and dedication to professional development.</p>
                </div>

            </div>



            <div class="w3-container w3-card w3-light-black w3-margin-bottom">
                <h2 class="w3-text-cyan w3-padding-16>"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-txt-cyan"></i>Certifications</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Google | IT Support Specialist</b></h5>
                    <h5 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>June 27, 2021</b></h5>
                    <p><b>View certificate</b>: <a href="https://www.coursera.org/verify/professional-cert/PLTJXVQBRK3C">Google It Support</a><br>
                        <b>View on Credly</b>: <a href="https://www.credly.com/badges/929c3dcf-cf66-470e-ae21-4ae5bd0bf732">Verify</a></p>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>IBM | Python for Data Science, AI & Development</b></h5>
                    <h5 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>July 1, 2022</b></h5>
                    <p><b>View certificate</b>: <a href="https://www.coursera.org/verify/DGD2A3ERDGCL">Python for Data Science, AI, & Dev</a><br>
                        <b>View on Credly</b>: <a href="https://www.credly.com/badges/711d86ef-5900-4587-9631-d6198c3a359f">Verify</a></p>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Sololearn | Theroretical Java</b></h5>
                    <h5 class="w3-text-cyan"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>August 22, 2022</b></h5>
                    <p><b>View certificate</b>: <a href="https://www.sololearn.com/certificates/CT-MC0KWN6W">Core Java</a> </p>
                </div>
            </div>

        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></html>
